<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function resultFn(data) {
            console.log(data);
            show.innerHTML = data;
        }

        function fn() {
            // personData = {name: myname.value, age: age.value}
            fetch('/api/persons/1', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                // body: JSON.stringify(personData)
            })
                .then(response => response.text())
                .then(data => resultFn(data));
        }
    </script>
</head>
<body>
<h1>입력</h1>
<!--<label>이름:</label> <input id="myname" type="text"> <br>-->
<!--<label>나이:</label> <input id="age" type="number"> <br>-->
<button onclick="fn()">입력</button>
<hr>
<div id="show"></div>
</body>
</html>