<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function resultFn(data) {
            console.log(data);
            show.innerHTML = `<h3>이름:${data.name} 나이:${data.age} 입력됨</h3>`;
        }

        function fn() {
            // console.log(name);
            // myname.value = "변경된 이름";
            // age.value = 999

            personData = {name: myname.value, age: age.value}
            fetch('/api/persons', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(personData)
            })
                .then(response => response.json())
                .then(data => resultFn(data));
        }
    </script>
</head>
<body>
<h1>입력</h1>
<label>이름:</label> <input id="myname" type="text"> <br>
<label>나이:</label> <input id="age" type="number"> <br>
<button onclick="fn()">입력</button>
<hr>
<div id="show"></div>
</body>
</html>